name: Benchmarks
on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main
    paths:
      # Only run the benchmark on internals
      - 'internal/**'
      - 'ocppj/**'
      - 'ws/**'
      - 'go.mod'

jobs:
  benchmark:
    name: Performance regression check
    runs-on: ubuntu-latest
    permissions:
      # Needed for posting comments on PRs and storing packages
      contents: write
      pull-requests: write
      packages: write

    steps:
      - uses: actions/checkout@v6

      - uses: actions/setup-go@v6
        with:
          go-version-file: go.mod

      - name: Cache Go modules
        uses: actions/cache@v4
        with:
          path: |
            ~/.cache/go-build
            ~/go/pkg/mod
          key: ${{ runner.os }}-go-${{ hashFiles('**/go.sum') }}
          restore-keys: |
            ${{ runner.os }}-go-

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3
        with:
          driver-opts: |
            image=moby/buildkit:latest

      # Download previous benchmark result from artifact (if exists)
      - name: Download previous benchmark data
        continue-on-error: true
        env:
          GH_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        run: |
          mkdir -p ./cache
          gh run download --name benchmark-data --dir ./cache

      - name: Run benchmarks
        env:
          DOCKER_BUILDKIT: 1
          COMPOSE_DOCKER_CLI_BUILD: 1
        run: make benchmarks

      # Run `github-action-benchmark` action
      - name: Store benchmark result
        id: bench
        uses: benchmark-action/github-action-benchmark@v1
        with:
          # What benchmark tool the output.txt came from
          tool: 'go'
          # Where the output from the benchmark tool is stored
          output-file-path: benchmarks.txt
          # Where the previous data file is stored
          external-data-json-path: ./cache/benchmark-data.json
          # Workflow will fail when an alert happens
          fail-on-alert: false
          # GitHub API token to make a commit comment
          github-token: ${{ secrets.GITHUB_TOKEN }}
          # Always post a comment on the PR with benchmark results
          comment-always: 'true'
          # Enable alert commit comment
          comment-on-alert: true
          # Enable Job Summary for PRs
          summary-always: true
          save-data-file: 'true'

      - name: Upload benchmark data
        # Only store when on main branch
        if: github.event_name == 'push' && github.ref == 'refs/heads/main'
        uses: actions/upload-artifact@v6
        with:
          name: benchmark-data
          path: ./cache/benchmark-data.json
          overwrite: true