name: "Lint"

on:
  push:
    branches:
      - master
      - main
    paths-ignore:
      - '*.md'
      - 'docs/**'

  pull_request:
    types: [ opened, synchronize ]
    paths-ignore:
      - '*.md'
      - 'docs/**'
    branches:
      - master
      - main

jobs:
  lint:
    name: "Run linter"
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Setup Go
        uses: actions/setup-go@v5
        with:
          go-version: "1.25"

      - name: golangci-lint
        uses: golangci/golangci-lint-action@v9
        with:
          version: latest